@model Keas.Core.Domain.Group

@{
    ViewBag.Title = $"Group Details: {Model.Name}";
}

<div class="card">
    <div class="card-header-primary">
        <div class="card-head">
            <div class="row justify-content-between">
                <h2>@ViewBag.Title</h2>
            </div>

        </div>
    </div>
    <div class="card-content">
        <div class="card">
            <div class="card-header-primary">
                <div class="card-head">
                    <div class="row justify-content-between">
                        <h2>Group Users</h2>
                        <div>
                            <a class="btn btn-link" asp-action="AddGroupUser" asp-controller="Team" asp-route-id="@Model.Id">Add User to group</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-content">
                <table class="table dataTable" id="users-table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                User Id
                            </th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GroupPermissions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Id)
                                </td>
                                <td>@Html.DisplayFor(a => item.User.Email)</td>
                                <td>
                                    <form asp-controller="Team" asp-action="RemoveGroupie" asp-route-id="@item.Id" asp-route-groupId="@item.GroupId">
                                        <input type="submit" value="Remove" class="btn btn-link" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div class="card">
            <div class="card-header-primary">
                <div class="card-head">
                    <div class="row justify-content-between">
                        <h2>Group Teams</h2>
                        <div>
                            <a class="btn btn-link" asp-action="AddGroupTeam" asp-controller="Team" asp-route-id="@Model.Id">Add Team to group</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-content">
                <table class="table dataTable" id="users-table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                slug
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Teams)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Team.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Team.Slug)
                                </td>
                                <td></td>
                                <td>
                                    <form asp-controller="Team" asp-action="RemoveGroupTeam" asp-route-id="@item.Id" asp-route-groupId="@item.GroupId">
                                        <input type="submit" value="Remove" class="btn btn-link" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
