@model Keas.Core.Domain.Person

@{
    ViewData["Title"] = "Team Member Details";
}
<div class="card">
  <div class="card-head">
    <div class="row justify-content-between">
      <h2>Team Member Details</h2>
      <div>
          @Html.ActionLink("Edit", "EditMember", new { id = Model.Id }) |
          <a class="btn btn-link" asp-action="Members"><i class="fas fa-arrow-left fa-xs"/></i> Back to List</a>
      </div>
    </div>
  </div>
  <div class="card-content">


<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model=> model.Name)</dt>
        <dd>
            @Html.DisplayFor(model=> model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamPhone)
        </dd>
    </dl>
</div>

</div>
</div>
