@model Keas.Core.Domain.Team

@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-between">
  <div class="col-md-9">
  <div class="card">
    <div class="card-header-primary">
      <div class="card-head">
  <h2>@Model.Name</h2>
      </div>
    </div>
    <div class="card-content">
      <p><b>@Html.DisplayNameFor(model => model.Name)</b></p>

      <p>@Html.DisplayFor(model => model.Name)</p>

      <p><b>FIS Orgs</b></p>
      @foreach (var org in Model.FISOrgs) {
      <p>@org.ChartAndOrg <a asp-action="RemoveFISOrg" asp-route-fisorgId="@org.Id"><i class="fas fa-trash"></i></a></p>
      }
      <p><b>PPS Departments</b></p>
      @foreach (var ppsDept in Model.PpsDepartments) {
      <p>@ppsDept.DepartmentName (@ppsDept.PpsDepartmentCode) <a asp-action="RemovePpsDepartment" asp-route-id="@ppsDept.Id"><i class="fas fa-trash"></i></a></p>
      }
    </div>
  </div>
  </div>
  <div class="col-md-3">


        @{await Html.RenderPartialAsync("_TeamAdminMenu");}
  
  </div>
</div>
