@model IEnumerable<Keas.Core.Domain.Person>

@{
    ViewData["Title"] = "Members";
}
<div class="card">
  <div class="card-content">
<h2>Members</h2>

<p>
    <a asp-action="CreateMember">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href="@Url.Action("EditMember", new {id = item.Id})"><i class="fas fa-edit"></i></a>
                |
                <a href="@Url.Action("DetailsMember", new {id=item.Id})"><i class="far fa-file"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
