@model Keas.Core.Domain.Team
@{
    ViewData["Title"] = "Regenerate Api Code";
}

        <form asp-action="RegenerateApiCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header-primary">
                    <div class="card-head">
                        @if (Model.TeamApiCode != null)
                        {
                            <h2>Regenerate API Code</h2>
                            <small class="form-text text-muted">Note, if you change the API code, make sure you update any of your external processes that may be using the old one.</small>
                            <small class="form-text text-muted">Click Regenerate to change the API code</small>
                        }
                        else
                        {
                            <h2>Generate</h2>
                            <small class="form-text text-muted">Click Generate to create a new API code</small>
                        }
                    </div>
                </div>
                @if (Model.TeamApiCode != null)
                {
                    <div class="card-content">
                        <p><b>Current API Code:</b></p>
                        <p>@Html.DisplayFor(model => model.TeamApiCode.ApiCode)</p>
                    </div>
                }
                <div style="padding: 19px 20px 20px;">
                    @if (Model.TeamApiCode != null)
                    {
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-save button-icon"></i>
                            Regenerate
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-save button-icon"></i>
                            Generate
                        </button>
                    }
                    <a class="btn btn-link" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-header-primary">
                <div class="card-head">
                    <h2>API Links</h2>
                </div>
            </div>
            @if (Model.TeamApiCode != null)
            {
                <div class="card-content">
                    <div class="card-head">
                        <h2><a href="/swagger" target="_blank" class="btn-lg btn-info">API documentation</a></h2>
                    </div>
                    
                </div>
                <div class="card-content">
                    <div class="card-head">
                        <h2>(Obsolete)</h2>
                    </div>
                    <p>People Feed:<br/>@Context.Request.Host/@Model.Slug/Feed/TeamFeed/@Model.TeamApiCode.ApiCode</p>
                    <p>People with Workstations: <br/>@Context.Request.Host/@Model.Slug/Feed/TeamFeed/@Model.TeamApiCode.ApiCode?includeSpace=yes</p>
                    <p>Workstations: <br/>@Context.Request.Host/@Model.Slug/Feed/WorkstationFeed/@Model.TeamApiCode.ApiCode</p>
                    <p>Equipment: <br/>@Context.Request.Host/@Model.Slug/Feed/EquipmentFeed/@Model.TeamApiCode.ApiCode</p>
                    <p>Access: <br/>@Context.Request.Host/@Model.Slug/Feed/AccessFeed/@Model.TeamApiCode.ApiCode</p>
                    <p>Keys: <br/>@Context.Request.Host/@Model.Slug/Feed/KeyFeed/@Model.TeamApiCode.ApiCode</p>
                </div>
            }
            else
            {
                <div class="card-content">
                    <p><a href="/swagger" target="_blank" class="btn btn-info">API documentation</a></p>
                </div>
            }
        </div>
