@model Keas.Mvc.Models.TeamAdminMembersListModel

@{
    ViewData["Title"] = "Role Assigned Members ";
}
<div class="card">
  <div class="card-head">

      <h2>Remove all roles for user in @Model.Team.Name</h2>

  </div>
  <div class="card-content">


@foreach(var item in Model.UserRoles) {
<div class="row">
    <div class="col-md-4">
        <form asp-action="RemoveRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="userId" value="@item.User.Id"/>
            <ul>
                <li>
                    <div class="form-group">
                        <div class="control-label">Name</div>
                        <div class="form-control">@item.User.Name</div>
                    </div>
                </li>

                <li>
                    <div class="editor-label">Check Roles to delete</div>
                    @foreach (var role in item.Roles)
                    {
                        <input type="checkbox" value="@role.Id" name="roles"/>
                        @role.Name
                        <br/>
                        <br/>
                    }
                </li>
                <li>
                    <input class="btn btn-primary" type="submit" value="Remove role(s)"/> | @Html.ActionLink("Cancel", "RoledMembers")
                </li>
            </ul>

        </form>
    </div>
</div>
}
</div>
</div>
