@model Keas.Core.Domain.TeamPpsDepartment

@{
    ViewBag.Title = "Remove PPS Department";
}
<div class="row justify-content-between">
  <div class="col-md-9">
  <div class="card">
    <div class="card-header-primary">
      <div class="card-head">
<h2>Remove PPS Department</h2>
      </div>
    </div>
    <div class="card-content">

      <h3>Are you sure you want to delete this?</h3>
      <div>

          <dl class="dl-horizontal">
              <dt>
                  @Html.DisplayNameFor(model => model.DepartmentName)
              </dt>
              <dd>
                  @Html.DisplayFor(model => model.DepartmentName)
              </dd>
              <dt>
                  @Html.DisplayNameFor(model => model.PpsDepartmentCode)
              </dt>
              <dd>
                  @Html.DisplayFor(model => model.PpsDepartmentCode)
              </dd>
              <dt>
                  @Html.DisplayNameFor(model => model.Team.Name)
              </dt>
              <dd>
                  @Html.DisplayFor(model => model.Team.Name)
              </dd>
          </dl>

          <form class="red" asp-action="RemovePpsDepartment">
              <input type="hidden" asp-for="Id" />
              <i class="fas fa-delete red fa-xs"/></i> <input type="submit" value="Delete" class="btn btn-link" />
          </form>
    </div>
  </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-content">
        @{await Html.RenderPartialAsync("_TeamAdminMenu");}
      </div>
    </div>
  </div>
</div>
