@model Keas.Mvc.Models.TeamAdminMembersListModel

@{
        ViewData["Title"] = "Role Assigned Members ";
    }
    <div class="row justify-content-between">
      <div class="col-md-8">
      <div class="card">
        <div class="card-header-primary">
          <div class="card-head row justify-content-between">
<h2>Members with roles in @Model.Team.Name</h2>
              <a class="btn btn-link" asp-action="AddMemberRole"><i class="fas fa-plus fa-xs"/></i> Add new Admin Role.</a>
          </div>
        </div>
        <div class="card-content">
          <table class="table">
              <thead>
                  <tr>
                      <th>
                          Name
                      </th>
                      <th>
                          Email
                      </th>
                      <th>
                          Roles
                      </th>
                      <th>

                      </th>
                  </tr>
              </thead>
              <tbody>
          @foreach (var item in Model.UserRoles) {
                  <tr>
                      <td>
                          @item.User.Name
                      </td>
                      <td>@Html.DisplayFor(a => item.User.Email)</td>
                      <td>
                      @item.RolesList
                      </td>
                      <td>
                          @Html.ActionLink("Remove Role(s)", "RemoveRoles", new { userId = item.User.Id})
                      </td>

                  </tr>
          }
              </tbody>
          </table>
        </div>
      </div>
      </div>
      <div class="col-md-4">

            @{await Html.RenderPartialAsync("_TeamAdminMenu");}

      </div>
    </div>
