@model TeamDocumentSettingsModel

@{
    ViewData["Title"] = "Document Signing Settings";
}


<div class="card documents-color">
  <div class="card-header-documents">
    <div class="card-head">
      <div class="row justify-content-between">
        <h2>Document Settings</h2>
      </div>
    </div>
  </div>
  <div class="card-content">
      <div class="row">
          <div class="col-md-8">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseInstructions" aria-expanded="false" aria-controls="collapseInstructions">
                  Show Instructions
              </button>

              <div class="collapse" id="collapseInstructions">
                  <div class="card card-body">
                      <h3>Familiar with DocuSign Already?</h3>
                      <p>You need to create a template with a single recipient who's role is "signer" and share the template with the PEAKS group.</p>
                      <h3>Basic Instructions</h3>
                      <p>You can find detailed instructions in CRU's Peaks <a target="_blank" href="https://computing.caes.ucdavis.edu/documentation/peaks/docusign-documents">DocuSign Documents</a> Document.
                          It essentially boils down to the following steps...</p>
                      <ol>
                          <li>
                              Login to <a href="https://app.docusign.com/home" target="_blank">docusign.com</a> and choose "Templates" from the top menu.
                              If you do not see that option, <a href="https://itcatalog.ucdavis.edu/service/docusign-pilot" target="_blank">request access here</a>
                          </li>
                          <li>Click "New" and create a template</li>
                          <li>Give the template and name and then add the documents that need signing</li>
                          <li>In the "Add Recipients" section, <strong> in the "Role" field type "signer" This is case sensitive and must be as shown</strong>. Do not fill in name or email, and do not add any more recipients</li>
                          <li>If you would like to you can customize the email subject and message that will be sent out when the system requests their signature</li>
                          <li>Click "Next" and setup the document for signing as desired, ex: placing their signature and date signed at the bottom</li>
                          <li>Click "Save and Close"</li>
                          <li>Back at the list of templates, select the dropdown next to your template and choose "Share with Users" and <strong>choose GROUPS and select PEAKS and then click share</strong></li>
                          <li>And finally, click on the template name to navigate to the template details page.</li>
                      </ol>
                      <p>Templates created in this manner should be listed in Peaks' Assign Document dialog the next time the User Details page is visited.</p>
                  </div>
              </div>
          </div>
      </div>
      @if (Model.TeamAccount?.AccountId == null)
      {
          <div class="card card-body">
              <h3>You currently have no account selected</h3>
              <p>
              Before you can access your shared templates, you must add your docusign account to this team.
              The following DocuSign accounts are available. Please select one.
              </p>
          </div>
      }
      else
      {
          <div class="card card-body">
              <h3>Selected Account:</h3>
              <ul>
                  <li><b>Docusign Account:</b> @Html.DisplayFor(modelItem => modelItem.TeamAccount.AccountName)</li>
                  <li><b>Account Id:</b> @Html.DisplayFor(modelItem => modelItem.TeamAccount.AccountId)</li>
                  <li><b>Api Base Url:</b> @Html.DisplayFor(modelItem => modelItem.TeamAccount.ApiBasePath)</li>
              </ul>
          </div>
      }
      <p></p>
      <table class="table">
          <thead>
              <tr>
                  <th>
                      @Html.DisplayNameFor(model => model.AvailableAccounts.First().AccountName)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.AvailableAccounts.First().AccountId)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.AvailableAccounts.First().ApiBasePath)
                  </th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model.AvailableAccounts)
              {
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => item.AccountName)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.AccountId)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.ApiBasePath)
                      </td>
                      <td>
                          <form asp-action="SelectAccount" method="post">
                              <input id="AccountId" name="AccountId" type="text" value="@item.AccountId" hidden />
                              <a href="" onclick="this.parentElement.submit(); return false;">Select Account</a>
                          </form>
                      </td>
                  </tr>
              }
          </tbody>
      </table>
  </div>
@if (Model.TeamAccount.AccountId != null)
{
    <div class="card-content">
        <div class="card card-body">
        <div class="card card-body">
            <h3>Templates available and shared for this account</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Template Name</th>
                <th>Template Id</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TemplateNames)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.Id</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    </div>
}
</div>





@section Styles
{
    @{ await Html.RenderPartialAsync("_ReportStylePartial");}
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ReportScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $(".table").dataTable({                
                "columnDefs": [
                    {
                        targets: -1,
                        className: 'dt-body-right',
                        sortable: false,
                    },

                ]
            });
        });
    </script>
}
