@model TeamDocumentSettingsModel

@{
    ViewData["Title"] = "Document Signing Settings";
}


<div class="card documents-color">
  <div class="card-header-documents">
    <div class="card-head">
      <div class="row justify-content-between">
        <h2>Document Settings</h2>
      </div>
    </div>
  </div>
  <div class="card-content">
          @if (Model.TeamAccount?.AccountId == null)
          {
              <p>
                  The team does not have a Docusign account assigned. The following DocuSign accounts are available to be used by this team. Please select one.
              </p>
          }
          else
          {
              <p>
                  <b>Docusign Account:</b> @Html.DisplayFor(modelItem => modelItem.TeamAccount.AccountName)<br/>
                  <b>Account Id:</b> @Html.DisplayFor(modelItem => modelItem.TeamAccount.AccountId)<br/>
                  <b>Api Base Url:</b> @Html.DisplayFor(modelItem => modelItem.TeamAccount.ApiBasePath)
              </p>
          }
      <p></p>
      <table class="table">
          <thead>
              <tr>
                  <th>
                      @Html.DisplayNameFor(model => model.AvailableAccounts.First().AccountName)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.AvailableAccounts.First().AccountId)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.AvailableAccounts.First().ApiBasePath)
                  </th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model.AvailableAccounts)
              {
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => item.AccountName)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.AccountId)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.ApiBasePath)
                      </td>
                      <td>
                          <form asp-action="SelectAccount" method="post">
                              <input id="AccountId" name="AccountId" type="text" value="@item.AccountId" hidden />
                              <a href="" onclick="this.parentElement.submit(); return false;">Select Account</a>
                          </form>
                      </td>
                  </tr>
              }
          </tbody>
      </table>
  </div>

</div>





@section Styles
{
    @{ await Html.RenderPartialAsync("_ReportStylePartial");}
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ReportScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $(".table").dataTable({                
                "columnDefs": [
                    {
                        targets: -1,
                        className: 'dt-body-right',
                        sortable: false,
                    },

                ]
            });
        });
    </script>
}
