@using Keas.Core.Extensions

@model Keas.Mvc.Models.ReportModels.EquipmentHistoryModel

@{
    ViewBag.Title = "Equipment";
}

<div class="card equipment-color">
    <div class="card-header-equipment">
        <div class="card-head">
            <h2>Equipment History Report for @Html.DisplayFor(m => m.Equipment.Name)</h2>
        </div>
    </div>
    <div class="card-content">
        <p><b>@Html.DisplayNameFor(m => m.Equipment.SerialNumber)</b></p>
        <p>@Html.DisplayFor(m => m.Equipment.SerialNumber)</p>
        <p><b>@Html.DisplayNameFor(m => m.Equipment.Make)</b></p>
        <p>@Html.DisplayFor(m => m.Equipment.Make)</p>
        <p><b>@Html.DisplayNameFor(m => m.Equipment.Model)</b></p>
        <p>@Html.DisplayFor(m => m.Equipment.Model)</p>

        <br /><br />

        <table id="history" class="table dataTable">
            <thead>
                <tr>
                    <th>Action Date</th>
                    <th>Action</th>
                    <th>Actor</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Histories)
                {
                    <tr>
                        <td>@item.ActedDate.ToPacificTime()</td>
                        <td>@item.ActionType</td>
                        <td>@item.ActorId</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
@await Html.PartialAsync("_ReportStylePartial")
}

@section Scripts {
@{await Html.RenderPartialAsync("_ImportJS");}

<script type="text/javascript">
    $('.dataTable').DataTable({
        "dom": 'lBfrtip',
        "buttons": [
            { extend: 'copyHtml5' },
            { extend: 'excelHtml5' },
            { extend: 'csvHtml5' },
            { extend: 'print' },
        ],
        "order": [[0, "desc"]],
        "columnDefs": [
            { "type": "date", "targets": [0] },
        ]
    });
</script>
}
