@model System.Collections.Generic.IList<Keas.Mvc.Models.ReportModels.KeyReportModel>

@{
    ViewBag.Title = "Keys";
}


<div class="card">
    <div class="card-header-access">
        <div class="card-head">
            <h2>Keys Report</h2>
            <small class="form-text text-muted">To see more details, export the results with one of the buttons on the table (Copy, Excel, etc.).</small>
            <small class="form-text text-muted">If you have filtered the report with the Search feature, only the filtered results will be exported.</small>
            <small class="form-text text-muted">You can filter the table with the data that isn't displayed on the screen (such as notes).</small>
        </div>
    </div>
    <div class="card-content">

        <table id="access" class="table dataTable">
            <thead>
                <tr>
                    <th>Key Name</th>
                    <th>Code</th>
                    <th>Active</th>
                    <th># Serials</th>
                    <th># Spaces</th>
                    <th>Notes?</th>
                    <th>Tags</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.KeyName</td>
                        <td>@item.Code</td>
                        <td>@item.Active.ToYesNoString()</td>
                        <td>@item.KeySerialCount</td>
                        <td>@item.SpacesCount</td>
                        <td>@((!string.IsNullOrWhiteSpace(item.Notes)).ToYesNoString())</td>
                        <td>@item.Tags.Replace(",", ", ")</td>
                        <td>@item.Notes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ImportJS");}

    <script type="text/javascript">
        $('.dataTable').DataTable({
            "dom": 'lBfrtip',
            "buttons": [
                { extend: 'copyHtml5' },
                { extend: 'excelHtml5' },
                { extend: 'csvHtml5' },
                { extend: 'print' },
            ],
            "order": [[0, "asc"], [1, "asc"]],
            "columnDefs": [
                { "targets": [-1], "visible": false },
            ]
        });
    </script>
}
