@using Keas.Core.Extensions
@model Keas.Mvc.Models.ReportModels.WorkstationReportViewModel

@{
    ViewBag.Title = "Workstations";

}

<div class="card spaces-color">
    <div class="card-header-spaces">
        <div class="card-head">
            <h2>Workstations Report</h2>

        </div>
    </div>
    <div class="card-content">
         <div class="row align-items-start">
                <div class="col-md-6 col-lg-4">
                    <h3><i class="fas fa-sm fa-info-circle"></i> Instructions</h3>
                    <ul>
                        
                        <li>
                            To see more details, export the results with one of the buttons on the table (Copy, Excel, etc.).
                        </li>
                        <li>
                            If you have filtered the report with the Search feature, only the filtered results will be exported.
                        </li>
                        <li>
                            You can filter the table with the data that isn't displayed on the screen (such as notes).
                        </li>
                    </ul>
                </div>
                    <div class="col-md-6 col-lg-4">
                        <h3>Filters</h3>
                        <div class="form-group">
                            <label asp-for="HideInactive" class="form-check-label"></label>
                            <input asp-for="HideInactive" class="peaks-checkbox" />
                        </div>
                        <i class="fas fa-sync-alt fa-sm"></i><input type="submit" value="Refresh Report" class="btn btn-link" />
                </div>
            </div>
        <table id="workstations" class="table dataTable">
            <thead>
                <tr>
                    <th>WS Name</th>
                    <th>Active</th>
                    <th>Assigned</th>
                    <th>Tags</th>
                    <th>Notes?</th>
                    <th>Notes</th>
                    <th>Assigned To</th>
                    <th>Email</th>
                    <th>Expires</th>
                    <th>Room Number</th>
                    <th>Building</th>
                    <th>Room Name</th>
                    <th>Floor</th>
                    <th>Category</th>
                    <th>Footage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WorkstationList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Active.ToYesNoString()</td>
                        <td>@item.IsAssigned.ToYesNoString()</td>
                        <td>@item.Tags.Replace(",",", ")</td>
                        <td>@((!string.IsNullOrWhiteSpace(item.Notes)).ToYesNoString())</td>
                        <td>@item.Notes</td>
                        @if (item.IsAssigned)
                        {
                            <td>@($"{item.Assignment.FullName} ({item.Assignment.UserId})")</td>
                            <td>@item.Assignment.Email</td>
                            <td>@item.Assignment.ExpiryDateTime.ToPacificTime().ToShortDateString()</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td>@item.Space.RoomNumber</td>
                        <td>@item.Space.BldgName</td>
                        <td>@item.Space.RoomName</td>
                        <td>@item.Space.FloorName</td>
                        <td>@item.Space.RoomCategoryName</td>
                        <td>@item.Space.SqFt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}

@section Scripts {
   @{await Html.RenderPartialAsync("_ImportJS");}  
    
    <script type="text/javascript">
        $('.dataTable').DataTable({
                "dom": 'lBfrtip',
                "buttons": [
                    { extend: 'copyHtml5' },
                    { extend: 'excelHtml5' },
                    { extend: 'csvHtml5' },
                    { extend: 'print'},
                ],
                "columnDefs": [
                    { "type": "date", "targets": [8] },
                    { "targets" : [ 5,7,11,13,14], "visible" : false}
                ]
        });
    </script>
}

