@model Keas.Mvc.Models.ReportModels.CompletedDocsReportModel

@{
    ViewData["Title"] = "Completed Documents";
}

<a asp-action="Index" asp-route-id="@Model.Group.Id" class="btn btn-link">Back to Group Home</a>

<div class="card documents-color">
    <div class="card-header-documents">
        <div class="card-head">
            <h2>Group: @Model.Group.Name</h2>
            <h3>Completed Documents</h3>
        </div>
    </div>
    <div class="card-content">

        <form asp-action="CompletedDocumentsReport" method="get">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row align-items-end">
                <div class="col-sm-4">
                    <h3>Filters</h3>
                    <div class="form-group">
                        <label asp-for="Start" class="control-label"></label>
                        <input asp-for="Start" class="form-control datepicker" />
                        <span asp-validation-for="Start" class="text-danger"></span>
                        <label asp-for="End" class="control-label"></label>
                        <input asp-for="End" class="form-control datepicker" />
                        <span asp-validation-for="End" class="text-danger"></span>
                        <div class="form-group">
                            <i class="fas fa-sync-alt fa-sm"></i><input type="submit" value="Refresh Report" class="btn btn-link" />
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <br>
        <br>

        <table id="dtDocuments" class="table dataTable">
            <thead>
                <tr>
                    <th>
                        Person
                    </th>
                    <th>
                        Doc Name
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Completed
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Link
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.PersonName</td>
                        <td>@item.DocName</td>
                        <td>@Html.DisplayFor(a => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(a => item.CompletedAt)</td>
                        <td>@item.TeamName</td>
                        <td>
                            <a href='@item.DetailsLink' target="_blank">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ImportJS");
    }

    <script type="text/javascript">
        $('.dataTable').DataTable({
            "dom": 'lBfrtip',
            "buttons": [
                { extend: 'copyHtml5' },
                { extend: 'excelHtml5' },
                { extend: 'csvHtml5' },
                { extend: 'print' },
            ],
            "columnDefs": [
                { "type": "date", "targets": [2,3] }
            ]
        });
    </script>
}
