@model Keas.Mvc.Models.ReportModels.DocumentReportGroupViewModel

@{
    ViewData["Title"] = "People With Incomplete Documents";
}

<a asp-action="Index" asp-route-id="@Model.Group.Id" class="btn btn-link">Back to Group Home</a>

<div class="card documents-color">
    <div class="card-header-documents">
        <div class="card-head">
            <h2>Group: @Model.Group.Name</h2>
            <h3>People With Incomplete Documents</h3>
        </div>
    </div>
    <div class="card-content">



        <table class="table dataTable">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Incomplete Document Count
                </th>
                <th>Team</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.IncompleteDocuments) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncompleteDocumentCount)
                    </td>
                    <td>@item.TeamName</td>
                    <td>
                        <a href='@string.Format("/{0}/{1}/details/{2}", item.TeamSlug, "People", item.PersonId)' target="_blank">Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ImportJS");}

    <script type="text/javascript">
        $('.dataTable').DataTable({
            "dom": 'lBfrtip',
            "buttons": [
                { extend: 'copyHtml5' },
                { extend: 'excelHtml5' },
                { extend: 'csvHtml5' },
                { extend: 'print' },
            ]
        });
    </script>
}
