@model Keas.Mvc.Models.GroupModels.GroupIndexViewModel

@{
    ViewBag.Title = "title";
}

<div class="card">
    <div class="card-header-primary">
        <div class="row justify-content-between">
            <div class="card-head">
                <h2><i class="fas fa-tasks fa-xs"></i> Reports for group: @Model.Group.Name</h2>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="row">

            <div class="report-list equipment-color col-md-3">
                <h3><i class="fas fa-hdd fa-xs"></i> Equipment Reports</h3>
                <ul>
                    <li>
                        <a asp-action="EquipmentReport" asp-route-id="@Model.Group.Id">View All Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
   
                </ul>
            </div>


            <div class="report-list spaces-color col-md-3">
                <h3><i class="fas fa-building fa-xs"></i> Workstations Reports</h3>
                <ul>
                    <li>
                        <a asp-action="WorkstationReport" asp-route-id="@Model.Group.Id">View All Workstations <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                </ul> 
            </div>

            <div class="report-list keys-color col-md-3">
                <h3><i class="fas fa-building fa-xs"></i> Key Reports</h3>
                <ul>
                    <li>
                        <a asp-action="KeySerialsWithSpacesReport" asp-route-id="@Model.Group.Id">View Key Serials with Spaces <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a asp-action="KeySerialsReport" asp-route-id="@Model.Group.Id">View Key Serials <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                </ul> 
            </div>

            <div class="report-list documents-color col-md-3">
                <h3><i class="fas fa-file-alt fa-xs"></i> Documents Reports</h3>
                <ul>
                    <li>
                        <a asp-action="IncompleteDocumentsReport" asp-route-id="@Model.Group.Id">View All Incomplete Docs <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a asp-action="CompletedDocumentsReport" asp-route-id="@Model.Group.Id">Completed Documents <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                </ul> 
            </div>
            
            <div class="report-list people-color col-md-3">
                <h3><i class="fas fa-users fa-xs"></i> People Reports</h3>
                <ul>
                    <li>
                        <a asp-action="PeopleLeavingWithAssets" asp-route-id="@Model.Group.Id">People with Assets who are Leaving <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
   
                </ul>
            </div>
            <div class="report-list general-color col-md-3">
                <h3><i class="fas fa-list fa-xs"></i> General Reports</h3>
                <ul>
                    <li>
                        <a asp-action="ExpiringItems" asp-route-id="@Model.Group.Id">Expiring <span style="white-space: nowrap;">Items <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header-primary">
        <div class="row justify-content-between">
            <div class="card-head">
                <h2><i class="fas fa-tasks fa-xs"></i> Teams in group: @Model.Group.Name</h2>
            </div>
        </div>
    </div>
    <div class="card-content">
        <table id="teams-in-group" class="table dataTable">
            <thead>
            <tr>
                <th>Team Name</th>
                <th>Team Slug</th>
                <th>Contact</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TeamContact.Where(a => a.InGroup))
            {
                <tr>
                    <td>@item.TeamName</td>
                    <td>@item.TeamSlug</td>
                    <td>@item.FirstDeptAdmin</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header-primary">
        <div class="row justify-content-between">
            <div class="card-head">
                <h2><i class="fas fa-tasks fa-xs"></i> Teams NOT in group: @Model.Group.Name</h2>
            </div>
        </div>
    </div>
    <div class="card-content">
        <table id="teams-in-group" class="table dataTable">
            <thead>
            <tr>
                <th>Team Name</th>
                <th>Team Slug</th>
                <th>Contact</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TeamContact.Where(a => !a.InGroup))
            {
                <tr>
                    <td>@item.TeamName</td>
                    <td>@item.TeamSlug</td>
                    <td>@item.FirstDeptAdmin</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ReportScriptsPartial");}
}



