@using Keas.Core.Extensions
@model System.Collections.Generic.IList<Keas.Mvc.Models.ReportModels.KeyReportModel>

@{
    ViewBag.Title = "Keys";

}

<a asp-action="Index" asp-route-id="@ViewBag.Group.Id" class="btn btn-link">Back to Group Home</a>

<div class="card">
    <div class="card-header-spaces">
        <div class="card-head">
            <h2>Group: @ViewBag.Group.Name</h2>
            <h3>Key Serials with Spaces Report</h3>
            <small class="form-text text-muted">To see more details, export the results with one of the buttons on the table (Copy, Excel, etc.).</small>
            <small class="form-text text-muted">If you have filtered the report with the Search feature, only the filtered results will be exported.</small>
            <small class="form-text text-muted">You can filter the table with the data that isn't displayed on the screen (such as notes).</small>
        </div>
    </div>
    <div class="card-content">
        <table id="keys" class="table dataTable">
            <thead>
                <tr>
                    <th>Key Name</th>
                    <th>Code</th>
                    <th>Serial #</th>
                    <th>Active</th>
                    <th>Serial Active</th>
                    <th>Assigned</th>
                    <th># Serials</th>
                    <th># Spaces</th>
                    <th>Notes?</th>
                    <th>Tags</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Serial Notes</th>
                    <th>Assigned To</th>
                    <th>Email</th>
                    <th>Expires</th>
                    <th>Building</th>
                    <th>Room Name</th>
                    <th>Room Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.KeySerialCount > 0 && item.SpacesCount > 0) {
                        foreach (var serial in item.Serials)
                        {
                            foreach(var space in item.Spaces) {
                                <tr>
                                    <td>@item.KeyName</td>
                                    <td>@item.Code</td>
                                    <td>@serial.SerialNumber</td>
                                    <td>@item.Active.ToYesNoString()@(item.Active != serial.Active ? "*" : string.Empty)</td>
                                    <td>@serial.Active.ToYesNoString()@(item.Active != serial.Active ? "*" : string.Empty)</td>
                                    <td>@serial.IsAssigned.ToYesNoString()</td>
                                    <td>@item.KeySerialCount</td>
                                    <td>@item.SpacesCount</td>
                                    <td>@((!string.IsNullOrWhiteSpace(item.Notes) || !string.IsNullOrWhiteSpace(serial.Notes)).ToYesNoString())</td>
                                    <td>@item.Tags.Replace(",", ", ")</td>
                                    <td>@serial.Status</td>
                                    <td>@item.Notes</td>
                                    <td>@serial.Notes</td>
                                    @if (serial.IsAssigned)
                                    {
                                        <td>@($"{serial.Assignment.FullName} ({serial.Assignment.UserId})")</td>
                                        <td>@serial.Assignment.Email</td>
                                        <td>@serial.Assignment.ExpiryDateTime.ToPacificTime().ToShortDateString()</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }                 
                                    <td>@space.BldgName</td>
                                    <td>@space.RoomName</td>
                                    <td>@space.RoomNumber</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}

@section Scripts {
   @{await Html.RenderPartialAsync("_ImportJS");}  
    
    <script type="text/javascript">
        $('.dataTable').DataTable({
                "dom": 'lBfrtip',
                "buttons": [
                    { extend: 'copyHtml5' },
                    { extend: 'excelHtml5' },
                    { extend: 'csvHtml5' },
                    { extend: 'print'},
                ],
                "columnDefs": [
                    { "type": "date", "targets": [8] },
                    { "targets" : [ 3,4,5,8,9,11,12], "visible" : false}
                ]
        });
    </script>
}

