@using Keas.Core.Extensions
@model System.Collections.Generic.IList<Keas.Mvc.Models.ReportModels.WorkstationReportModel>

@{
    ViewBag.Title = "Workstations";

}

<a asp-action="Index" asp-route-id="@ViewBag.Group.Id" class="btn btn-link">Back to Group Home</a>

<div class="card">
    <div class="card-header-spaces">
        <div class="card-head">
            <h2>Group: @ViewBag.Group.Name</h2>
            <h3>Workstations Report</h3>
            <small class="form-text text-muted">To see more details, export the results with one of the buttons on the table (Copy, Excel, etc.).</small>
            <small class="form-text text-muted">If you have filtered the report with the Search feature, only the filtered results will be exported.</small>
            <small class="form-text text-muted">You can filter the table with the data that isn't displayed on the screen (such as notes).</small>
        </div>
    </div>
    <div class="card-content">

        <table id="workstations" class="table dataTable">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>WS Name</th>
                    <th>Active</th>
                    <th>Assigned</th>
                    <th>Tags</th>
                    <th>Notes?</th>
                    <th>Notes</th>
                    <th>Assigned To</th>
                    <th>Email</th>
                    <th>Expires</th>
                    <th>Room Number</th>
                    <th>Building</th>
                    <th>Room Name</th>
                    <th>Floor</th>
                    <th>Category</th>
                    <th>Footage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Team</td>
                        <td>@item.Name</td>
                        <td>@item.Active.ToYesNoString()</td>
                        <td>@item.IsAssigned.ToYesNoString()</td>
                        <td>@item.Tags.Replace(",", ", ")</td>
                        <td>@((!string.IsNullOrWhiteSpace(item.Notes)).ToYesNoString())</td>
                        <td>@item.Notes</td>
                        @if (item.IsAssigned)
                        {
                            <td>@item.Assignment.NameAndUserId</td>
                            <td>@item.Assignment.Email</td>
                            <td>@item.Assignment.ExpiryDateTime.ToPacificTime().ToShortDateString()</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td>@item.Space.RoomNumber</td>
                        <td>@item.Space.BldgName</td>
                        <td>@item.Space.RoomName</td>
                        <td>@item.Space.FloorName</td>
                        <td>@item.Space.RoomCategoryName</td>
                        <td>@item.Space.SqFt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @await Html.PartialAsync("_ReportStylePartial")
}

@section Scripts {
   @{await Html.RenderPartialAsync("_ImportJS");}  
    
    <script type="text/javascript">
        $('.dataTable').DataTable({
                "dom": 'lBfrtip',
                "buttons": [
                    { extend: 'copyHtml5' },
                    { extend: 'excelHtml5' },
                    { extend: 'csvHtml5' },
                    { extend: 'print'},
                ],
                "order": [[1, "asc"]],
                "columnDefs": [
                    { "type": "date", "targets": [9] },
                    { "targets" : [ 0,6,8,12,14,15], "visible" : false}
                ]
        });
    </script>
}

