@using System.Collections
@using Keas.Core.Domain
@using Keas.Core.Extensions
@using Keas.Jobs.SendMail.Views.Shared
@model Keas.Core.Models.ExpiringItemsEmailModel
@{
    Layout = "_EmailLayout";
    var userName = Model.Person.Name;
    var teamName = Model.Person.Team.Name;
    var tempCount = Model.KeySerials.Count() + Model.Equipment.Count() + Model.Workstations.Count() + Model.AccessAssignments.Count();
    var count = tempCount.ToString();
    var itemPluralize = "item";
    var helplink = "https://peaks.ucdavis.edu/" + Model.Person.Team.Slug + "/Help";
    if (tempCount > 1)
    {
        itemPluralize = "items";
    }
}
    <mj-section border-top="4px solid #203F60" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="20px" line-height="25px" color="#1F1F1F">
          <p>@userName, you have @count expiring @itemPluralize in team @teamName in PEAKS.</p>
        </mj-text>
      </mj-column>
    </mj-section>
        
    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="10px" padding-top="5px">
      <mj-column width="90%" vertical-align="top" border-bottom="1px solid #c7c8cc">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
        <h4>Notification Details</h4>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="10px">
      <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
        <h2>Access</h2>
        </mj-text>
      </mj-column>
      @foreach (var item in Model.AccessAssignments)
      {
        <mj-column width="90%" vertical-align="top" border-left="4px solid #203F60" padding-left="10px">
          <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <p>@item.Access.Name expiring <b>@item.ExpiresAt.ToPacificTime().ToString("d")</b></p>
          </mj-text>
        </mj-column>      
      }
    </mj-section>

    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="10px">
      <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
        <h2>Keys</h2>
        </mj-text>
      </mj-column>
      @foreach (var item in Model.KeySerials)
      {
        <mj-column width="90%" vertical-align="top" border-left="4px solid #203F60" padding-left="10px">
          <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <p>@item.Key.Title expiring <b>@item.KeySerialAssignment.ExpiresAt.ToPacificTime().ToString("d")</b></p>
          </mj-text>
        </mj-column>      
      }
    </mj-section>

    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="10px">
      <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
        <h2>Equipment</h2>
        </mj-text>
      </mj-column>
      @foreach (var item in Model.Equipment)
      {
        <mj-column width="90%" vertical-align="top" border-left="4px solid #203F60" padding-left="10px">
          <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <p>@item.Name expiring <b>@item.Assignment.ExpiresAt.ToPacificTime().ToString("d")</b></p>
          </mj-text>
        </mj-column>      
      }
    </mj-section>

    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="10px">
      <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
        <h2>Workstation</h2>
        </mj-text>
      </mj-column>
      @foreach (var item in Model.Workstations)
      {
        <mj-column width="90%" vertical-align="top" border-left="4px solid #203F60" padding-left="10px">
          <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <p>@item.Name expiring <b>@item.Assignment.ExpiresAt.ToPacificTime().ToString("d")</b></p>
          </mj-text>
        </mj-column>      
      }
    </mj-section>

    @await Html.PartialAsync("_EmailButton", new EmailButtonModel 
    {
      Url = helplink,
      ButtonText = "View Team Admins",
      Description = "Please contact your team's assigned individuals to either update the expiration date or return/check-in the above items.",
    });
