@using System.Collections
@using Keas.Core.Domain
@using Keas.Core.Extensions
@model List<IGrouping<int?, Keas.Core.Domain.PersonNotification>>

@{
  Layout = "_EmailLayout";
}

    <mj-section border-top="4px solid #203F60" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="20px" line-height="25px" color="#1F1F1F">
          The following people have been added/removed/reactivated from PEAKS.
        </mj-text>
       
      </mj-column>
    </mj-section>
        
    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="10px" padding-top="5px">
      <mj-column width="90%" vertical-align="top" border-bottom="1px solid #c7c8cc">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
        <h4>Notification Details</h4>
        </mj-text>
      </mj-column>
    </mj-section>

    @foreach (IGrouping<int?, PersonNotification> notificationGroup in Model)
    {
        var teamName = "Not Set";
        var link = "https://peaks.ucdavis.edu/";
        var firstNotification = true;
        if (notificationGroup.Key != null)
        {
            teamName = notificationGroup.First().Team.Name; 
            link = "https://peaks.ucdavis.edu/" + notificationGroup.First().Team.Slug + "/home/index";
        }
        <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="10px">
          <mj-column width="90%" vertical-align="top">
            <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>Team: <a href="@link">@teamName</a></h2>
            </mj-text>
          </mj-column>
          @foreach (var notification in notificationGroup)
          {
            <mj-column width="90%" vertical-align="top" border-left="4px solid #203F60" padding-left="10px" border-top="@(firstNotification ? null : "1px solid #c7c8cc")">
              <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
              <p><b>Person:</b> @notification.PersonName (@notification.PersonEmail)</p>
              <p><b>Action Date:</b> @notification.ActionDate.ToPacificTime().ToString("g")</p>
              <p><b>Actor:</b> @notification.ActorName</p>
              <p><b>Action:</b> @notification.Action</p>
              <p><b>Notes:</b> @notification.Notes</p>
              </mj-text>
            </mj-column>

            firstNotification = false;
          }
        </mj-section>
    }
