@model IEnumerable<Keas.Core.Domain.Team>

@{
    ViewData["Title"] = "Index";
}
<div class="card">
  <div class="card-head">
    <div class="row justify-content-between">
      <h2>Index</h2>
      <div>
          <a class="btn btn-link" asp-action="Create" asp-controller="Team">Create New Team</a> | <a class="btn btn-link" asp-action="RoledMembers">View Admins</a>
      </div>
    </div>
  </div>

<div class="card-content">
  <table class="table">
      <thead>
          <tr>
                  <th>
                      @Html.DisplayNameFor(model => model.Id)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Name)
                  </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
  @foreach (var item in Model) {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Id)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Name)
              </td>
              <td>
                  @Html.ActionLink("Edit", "Edit", "Team", new { id=item.Id })
              </td>
          </tr>
  }
      </tbody>
  </table>
</div>

</div>
