
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Keas.Mvc</title>

    <environment names="Development">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">


    </environment>
    <environment names="Staging,Production">
      <link 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
      <link 
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
        crossorigin="anonymous">
      <link rel="stylesheet" href="~/dist/root.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>

<body>
  <header>
    <h1 style="background-color: red; text-align: center; color: white">----------- This Site Is Currently For Testing Only -----------</h1>
    <div class="container">
      <div class="row justify-content-between align-items-end">
        <div class="col-sm-9">
          <div class="logowrapper">
            <a asp-area="" asp-controller="Home" asp-action="Index">
              <h1>PEAKS <i class="fas fa-users fa-xs"></i> <i class="fas fa-hdd fa-xs"></i> <i class="fas fa-address-card fa-xs"></i> <i class="fas fa-key fa-xs"></i> <i class="fas fa-building fa-xs"></i></h1>
              <p class="subtitle">People, Equipment, Access, Keys and Space</p>
            </a>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="dropdown teamwrapper">
            <h3>Team</h3>
            <button class="btn-team dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="row justify-content-between align-items-center">
                <div class="teamname">CA&ES</div>
                <i class="fas fa-caret-down fa-lg"></i>
              </div>

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

        </div>
        <!-- <div style="text-align:right;">

          <div class="row teamwrapper align-items-center">

              <div class="team">
                <p>College of Agricultural and<br> Environmental Sciences</p>
              </div>
              <div class="teamchanger">
                <i class="fas fa-caret-down fa-lg"></i>
              </div>


          </div>
        </div> -->


      </div>
    </div>
  </header>
  <div class="head_bleed">
    <div class="head_divider">

    </div>

  </div>
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
          <span>Menu</span>
        </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/CAESDO/keys">Assets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CAESDO/Confirm/Mystuff">My Stuff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="CAESDO/TeamAdmin">Admin</a>
          </li>
        </ul>
        <div style="flex-shrink: 0" class="form-inline mt-2 mt-md-0">
          <span>Welcome @User.GetNameClaim()</span>
        </div>
      </div>
    </div>

  </nav>
  @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string)) {
  <div class="container">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button> @TempData["Message"]
    </div>
  </div>
}

<main role="main" class="main-content-wrapper container">
        @RenderBody()

      <footer>
        <p>Copyright &copy; <span id="copywrite-year"></span> The Regents of the University of California, Davis campus. All rights reserved.</p>
      </footer>
    </main>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
      <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
      </script>
      <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
      </script>
        </script>
    </environment>

    <script src="~/dist/root.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
